# coloring handled by terminal

[alias]
        br = branch
        cb = checkout -b
        cm = commit --message
        ca = commit --amend
        co = checkout
        df = diff
        lg = log --oneline --graph
        st = status
        cp = cherry-pick
        rb = rebase

[core]
        editor = vim
        # pager = cat  # better to use git df --color=always | cat

[diff]
        tool = vimdiff

[merge]
        tool = vimdiff

[push]
        default = simple

[user]
        name = Serge Bouchut
        email = serge.bouchut@gmail.com
        username = SergeBouchut
