# coloring handled by terminal

[alias]
        cb = checkout -b
        cm = commit --message
        co = checkout
        df = diff
        lg = log --oneline --graph
        st = status

[core]
        editor = vim
        pager = cat

[diff]
        tool = vimdiff

[merge]
        tool = vimdiff

[push]
        default = simple

[user]
        name = Serge Bouchut
        email = serge.bouchut@gmail.com
        username = SergeBouchut
